@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building and Deploying Web apps with ASP.NET Core at pluralsight.com!.</p>
    <h3 class="display-3">Azure DevOps is awesome </h3>
</div>
